* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #eec4a0;
    color: #000000;
    line-height: 1.5;
    padding: 20px;
}

h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 30px;
}

.main-block {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.main-text p {
    margin: 0 0 8px 0;
}

.start-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(154, 238, 232);
    border: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    border-radius: 10px;
}

.img-for-main {
    width: 200px;
    border-radius: 15px;
}